#img1{
    margin: 25px;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 25px;
}

#img2{
    margin: 25px;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#img3{
    margin: 25px;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#img4{
    margin: 25px;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 25px;
}

